{% extends parent_template|default:"base.html" %}
{% load static %}
{% block main %}

<div id="" >
	<article id="intro" >
		<div>
			<p> Disclaimers! </p>
			<p> This is a beta malware repository named <a href = "https://sdswapz.github.io/poppy_seed" > poppy seed </a>. Intent of this website is to colllect and scan malicious payload by running preliminary scans. </p>
			<p>[We are just collecting Android Mobile Malware Samples for now] </p>
			<h3 class="temp-header">You can find more about <a href = "https://sdswapz.github.io/poppy_seed" > our project at </a></h3>
			<h3 class="temp-header">Access <a href = 'http://malware.swapnil.me/repo/'>malware repository and sample codes</a></h3>
			<h3 class="temp-header">Protect yourself from becoming a <a href='malware.swapnil.me/killchain'>target<a></h3>
			<h3 class="temp-header"><a href='mailto:admin@swapnil.me'>Contribute </a></h3>
		</div>
	</article>
</div>

{% endblock %}